<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Accueil</title>
</head>
<body>
<div style="text-align:center">
    <h1>La boutique de dvd en ligne ! </h1>

</div>
<div style="margin-left:auto;margin-right:auto">
    <a href="add-movie-form">Ajouter un film</a>
    <h1>La liste de nos dvds</h1>
        <div th:each="movie: ${movies}">
            <a th:href="@{/movie/{id}(id=${movie.id})}" th:text="${movie.title}"></a>
        </div>

</div>
</body>
</html>